#home {
  background: linear-gradient(
      180deg,
      rgba(29, 25, 116, 0.5),
      rgba(29, 25, 116, 0.5)
    ),
    url("./assets/images/hero.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
#aboutUsHome {
  background: linear-gradient(
      180deg,
      rgba(29, 25, 116, 0.5),
      rgba(29, 25, 116, 0.5)
    ),
    url("./assets/images/about-us-hero.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.heroText {
  padding-top: 25vh;
}
.aboutUsHeroText {
  padding-top: 25vh;
}

.primaryColor {
  color: #1d1974 !important;
}
.primaryBgColor {
  background-color: #1d1974 !important;
}
.secondaryColor {
  color: #f1b633 !important;
}
.secondaryBgColor {
  background-color: #f1b633 !important;
}
.secondaryLightColor {
  background-color: rgba(241, 182, 51, 0.3) !important;
}

.hrColor {
  border: 1px solid #f1b633 !important;
}

.searchPaneBackground {
  background: rgba(29, 25, 116, 0.7);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .heroText {
    padding-top: 5vh;
  }
}
